
# Vim swapfiles
*.swp

# Verilated source files
src/*.cpp

# iVerilog compiled files
*.vvp

# Verilator build environment
obj_dir

# This stamp keeps track of when the sources were Verilated.
.stamp.verilate

